
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* Notifications badge */

.notifications-badge {
  margin-top: -1;

  .badge-fade {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;;
  }
}